[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pysimplegui = "*"

[dev-packages]
name = "pypi"
pytest = "*"

[requires]
python_version = "3.13"


